<body>
    <header class="header">
        <h1>About Us</h1>
    </header>

    <div class="container">
        <h2 class="text-center">Our Mission</h2>
        <p>Our mission is to pay homage to the authors whose creativity, wisdom, and storytelling prowess have enriched our lives throughout the ages. Through this platform, we aim to inspire a love for literature, foster a deeper appreciation for the written word, and encourage readers of all backgrounds to explore the timeless works of these literary luminaries.</p>
        
        <h2 class="text-center">Explore Their Works</h2>
        <p>On this website, you can delve into the biographies of these literary legends, explore their most famous works, and gain insights into the historical and cultural contexts that shaped their creations. Whether you're a seasoned bibliophile or just beginning your literary journey, there's something here for everyone.</p>

        <h2 class="text-center">Join Us in Celebrating Literature</h2>
        <p>We invite you to join us on this literary voyage of discovery. Explore the pages dedicated to each author, read their timeless classics, and immerse yourself in the rich tapestry of human storytelling. Together, let's celebrate the enduring legacy of these remarkable authors who have touched our hearts and minds for generations.</p>
    </div>
</body>