<body>
    <header class="header">
        <h1>Contact Us</h1>
    </header>
   
    <div class="container" style="margin-top: 10rem;">
            <div class="text-center">
                <span><i class="bi bi-telephone-fill"></i></span> +30 6943649355
            </div>
            <div class="text-center mt-5">
                <span><i class="bi bi-envelope-fill"></i></span>
                <a href="mailto:spyros.tsattalios@gmail.com">
                     spyros.tsattalios@gmail.com
                </a>
            </div>
            <div class="text-center mt-5">
                <span><i class="bi bi-house-door-fill"></i></span>
                M. Karaoli & A. Dimitriou 80, 18534, Piraeus Greece
            </div>
    </div>
</body>