<body style="border: 5px solid cyan;">
    <header class="header">
        <h1>Agatha Cristie</h1>
    </header>
    
    <h2 id="queen-of-mystery">Also know as Queen of Mystery</h2>
    
    <div class="author">
        <img src="images/agatha_cristie.jpeg" alt="Agatha Cristie">
        <p class="author-text" style="text-align: right;">
            &nbsp;&nbsp;Agatha Christie, often hailed as the <b>"Queen of Mystery,"</b> was a <del>prolific</del> British author known for her captivating detective novels and enduring literary legacy. Born in 1890, her life spanned nearly a century, during which she crafted a remarkable body of work.

            Christie's literary career took flight with her debut novel, "The Mysterious Affair at Styles," introducing the world to her iconic detective, Hercule Poirot. Her mastery of intricate plots and ingenious twists became her trademark, keeping readers guessing until the very end. Poirot's little gray cells and Christie's keen psychological insight made her a true pioneer in the mystery genre.

            One of her most famous works, "Murder on the Orient Express," exemplifies her storytelling prowess. This novel showcases her ability to blend diverse characters and motives into a mesmerizing puzzle, a hallmark of her writing style.
        </p> 
            <hr>
        <p class="author-text" style="text-align: right; font-size: 25px; color: purple;">

            Readers relished the challenge of piecing together her intricate narratives.

            In addition to Poirot, Christie created another beloved sleuth, Miss Marple, an astute amateur detective who solved crimes in the quaint English village of St. Mary Mead. Miss Marple's shrewd observations and intuitive understanding of human nature added depth to Christie's literary world.

            Agatha Christie's enduring popularity is a testament to her timeless storytelling. Her works have been translated into numerous languages, adapted into countless stage productions, films, and television series. Her impact on the mystery genre is immeasurable, making her a literary icon whose books continue to captivate readers worldwide.
        </p>
        <p>Learn more <a target="_blank" href="https://en.wikipedia.org/wiki/Agatha_Christie">here</a></p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="font-size: 2rem; font-weight: bold">Most famous books</p>
        <ol start="150" reversed type="i">
            <li>Murder on the Orient Express</li>
            <li>Death on the Nile</li>
            <li>The Murder of Roger Ackroyd</li>
        </ol>
    </div>
</body>
