<body>
    <header class="header">
        <h1>Agatha Cristie</h1>
    </header>

    <div class="author">
        <img src="images/agatha_cristie.jpeg" alt="Agatha Cristie">
        <p>Dame Agatha Mary Clarissa Christie, Lady Mallowan, DBE was an English writer known for her 66 detective novels and 14 short story collections, particularly those revolving around fictional detectives Hercule Poirot and Miss Marple.</p>
    </div>
</body>
