<body>
    <header class="header">
        <h1>Charles Dickens</h1>
    </header>

    <div class="author">
        <img src="images/charles_dickens.jpeg" alt="Charles Dickens">
        <p>Charles John Huffam Dickens was an English novelist and social critic who created some of the world's best-known fictional characters, and is regarded by many as the greatest novelist of the Victorian era.</p>
    </div>
</body>