<body>
    <header class="header">
        <h1>Stephen King</h1>
    </header>

    <div class="author">
        <img src="images/stephen_king.jpeg" alt="Stephen King">
        <p>Stephen Edwin King is an American author of horror, supernatural fiction, suspense, crime, science-fiction, and fantasy novels. Described as the "King of Horror", his books have sold more than 350 million copies as of 2006, and many have been adapted into films, television series, miniseries, and comic books.</p>
    </div>
</body>