<body>
    <header class="header">
        <h1>J.K. Rowling</h1>
    </header>

    <div class="author">
        <img src="images/j_k_rowling.jpeg" alt="J.K. Rowling">
        <p>Joanne Rowling CH OBE FRSL, best known by her pen name J. K. Rowling, is a British author and philanthropist. She wrote Harry Potter, a seven-volume children's fantasy series published from 1997 to 2007.</p>
    </div>
</body>