<body>
    <header class="header">
        <h1>Danielle Steel</h1>
    </header>

    <div class="author">
        <img src="images/danielle_steel.jpeg" alt="Danielle Steel">
        <p>Danielle Fernandes Dominique Schuelein-Steel is an American writer, best known for her romance novels. She is the bestselling living author and one of the best-selling fiction authors of all time, with over 800 million copies sold. As of 2021, she has written 190 books, including over 140 novels.</p>
    </div>

</body>